body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
}
*{
    box-sizing: border-box;
}
header{
    background-color: #f2eef0;
    padding-top: 1rem;
}
header h1{
    text-align: center;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0;
    color: #f2a93b;
}
header p{
    text-align: center;
    margin: 0;
    font-size: 14px;
}
header p + p {
    /* display: none; */
    color: #f2a93b;
    background-color: #f1f1f0;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
}
.input-wrapper{
    outline: none;
    border: none;
    width: 40%;
    margin: 0 auto;
    border: 1px solid #f3ecec;
    border-radius: 24px;
    overflow: hidden;
}
.input-wrapper input{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    padding-left: 1rem;
    border: none;
    outline: none;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.button-wrapper .btn {
    padding: 0.5rem 3rem;
    outline: none;
    border: none;
    background-color: #f2a93b;
    border-radius: 20px;
    cursor: pointer;
}
button{
    outline: none;
    border: none;
    background-color: transparent;
}

.chart{
    height: 2rem;
    cursor: pointer;
}
.country-container{
    background-color: #eeeeee;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat( 6, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    height: 100vh;
    overflow-y: auto;
}
.flag{
    height: 3rem;
    width: 100%;
}
.country-card h4, p{
    margin: 0;
    padding: 0;
}
.country-card{
    background-color: white;
    padding: 0.5rem;
    font-size: 13px;
    width: 10rem;
    max-height: 11rem;

}
.country-card h4{
    color: #f2a93b;
    text-align: center;
    margin-bottom: 4px;
}
.country-card p{
    margin-bottom: 4px;
    color: #a4a4a4;
}


